<div>

  <span data-api="location">{{details.location.name}}, {{details.location.region}}, {{details.location.country}}</span>

  <img src = "assets/icons/partly_cloudy.svg" alt="partly cloudy"/>

  <span data-api="current_wind_speed" class="wind">Wind: {{details.current.windSpeed}} kmph</span>
  <span data-api="current_precip" class="precip">Precip: {{details.current.precip}} mm</span>
  <span data-api="current_pressure" class="pressure">Pressure: {{details.current.pressure}} mb</span>
  <span data-api="current_temperature" class="temperature">{{details.current.temperature}}°c</span>

</div>
